<form [formGroup]="PostForm">
    Value: {{ PostForm.value | json }}
    <br>
    <mat-form-field>
        <input matInput placeholder="Titre" formControlName="title">
    </mat-form-field>
    <br>
    <mat-form-field>
        <textarea matInput placeholder="Description" formControlName="description">
        </textarea>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Lien" formControlName="link">
    </mat-form-field>
    <br>
    <button mat-raised-button [disabled]="PostForm.invalid">Submit</button>
</form> <hr>